@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');


/* Register Button Styles */

.register-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 15px;
  gap: 15px;
  background-color: #B1BF19;
  outline: 3px #007ACC solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}
.register-button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}
.register-button svg path {
  transition: 400ms;
}
.register-button:hover {
  background-color: transparent;
}
.register-button:hover .text {
  color: #007ACC;
}
.register-button:hover svg path {
  fill: #007ACC;
}


.marcellus-regular {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Martina';
  src: url('/fonts/martinaretro-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nalinak';
  src: url('/fonts/Nalinak.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Uiverse Login Button Styles */
.user-profile {
  width: 131px;
  height: 51px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  background: linear-gradient(
    to bottom right,
    #2e8eff 0%,
    rgba(46, 142, 255, 0) 30%
  );
  background-color: rgba(46, 142, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-profile:hover,
.user-profile:focus {
  background-color: rgba(46, 142, 255, 0.7);
  box-shadow: 0 0 10px rgba(46, 142, 255, 0.5);
  outline: none;
}
.user-profile-inner {
  width: 127px;
  height: 47px;
  border-radius: 13px;
  background-color: #B1BF19;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #1a1a1a;
  font-weight: 600;
}
.user-profile-inner svg {
  width: 27px;
  height: 27px;
  fill: #fff;
}